<div class="post-section-2 gray-border">
<span data-flag-post-id="<%= post.id %>">
  <% if post.flags.empty? || post.approved %>
  <div class="id-badge">
  <%= social_share_button_tag([post.id, post.content]) %>
    <p><span class="the-id">#<%= post.id %></span> <i class="fa fa-calendar" aria-hidden="true"> </i> <span class="the-dates"><%= post.created_at.strftime("%A - %b %m, %Y | %I:%M %p ") %></span></p>
  </div>
    <p class="main-content"><%= post.content %></p>
<hr>
    <div class="row post-fontawesome">
      <%= link_to likes_path(post_id: post.id), method: :post, remote: true, class: "heart-stuff" do %>
        <% if post.likes.count < 1 %>
        <span heart-post-id="<%= post.id %>">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        </span>
        <span data-post-id="<%= post.id %>">
          <%= post.likes.count %>
        </span>
        <% else %>
        <span heart-post-id="<%= post.id %>">
        <i class="fa fa-heart" aria-hidden="true"></i>
        </span>
        <span data-post-id="<%= post.id %>">
          <%= post.likes.count %>
        </span>
        <% end %>
      <% end %>
      <%= link_to flags_path(post_id: post.id), method: :post, remote: true do %>
        <i class="fa fa-flag alignright" aria-hidden="true"></i>
      <% end %>
    </div>

  <% else %>
    <p>This post is temporarily flagged</p>
  <% end %>
</span>
</div>
