
<div class="banner" style="background-image: url(<%= image_path "background.jpg"%>);">
  <div class="banner-content container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="headline">

          <h1>Welcome to ShoutOut.</h1>
          <h2>Connect with your friends and other fascinating people at school. Get in-the-moment updates.</h2>
          <h2>Get a live feed of what people are saying in your local community.</h2>
        </div>
      </div>
      <div class="row col-xs-12 col-md-4">
        <div class= "media-aside media-section">

          <h2>Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs form-center signup-inputs">
              <%= f.collection_select :school_id, School.order(:name), :id, :name, {required: true}, { class: 'dropdown_home'} %>
              <%= f.input :email, required: true, autofocus: true, placeholder: "Your school email" %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "6 characters min" %>
              <%= f.input :password_confirmation, required: true, placeholder: "6 characters min"  %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign up" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row col-xs-12 col-md-4">
        <div class= "media-aside media-section">

          <h2>Log in</h2>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs login-inputs">
              <%= f.input :email, required: false, autofocus: true, placeholder: "Your school email" %>
              <%= f.input :password, required: false, placeholder: "6 characters min"  %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in" %>
            </div>
          <% end %>
          <br>
          <div class="forget-link">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



