<%= simple_form_for(post, remote: true, html: { id: "post_form"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :content, as: :text, placeholder: "Type Your Shout-Out or Anti-ShoutOut", label: false, input_html: {rows: 3, onclick: 'obscureBackground()'} %>

  <%= f.input :school_id, as: :hidden, input_html: { value: current_user.school_id } %>

  <div id="counter" class="counter">150</div>

<%= button_tag(type: 'submit', class: "btn btn-default post-btn btn-lg") do %>
    <%= image_tag "logo_black.png", size: "22x16" %> Post
  <% end %>

<% end %>



<script>
$(document).ready(function() {
  $("#post_content").keyup(function() {
    var counter = $("#counter");
    var charsRemaining = 150 - $(this).val().length;
    counter.text(charsRemaining);
    counter.css('color', (charsRemaining < 0) ? 'red' : 'black');
  });
});
</script>
