  <div class="container">
    <div class="row col-xs-12 col-md-8 col-md-offset-2">
      <div class="school-name text-center">
        <h1><%= current_user.school.name %></h1>
      </div>
    </div>
    <div class="row col-xs-12 col-md-8 col-md-offset-2">

      <div class="post-section-1 gray-border">
        <h2>Type Your Shoutout</h2>

        <%= simple_form_for(@post) do |f| %>
        <%= f.error_notification %>

        <%= f.input :content, as: :text %>

        <%= f.input :school_id, as: :hidden, input_html: { value: current_user.school_id } %>

        <%= f.button :submit %>
      <% end %>
      </div>
  </div>
    <div class="row col-xs-12 col-md-8 col-md-offset-2">
    <% @posts.each do |post| %>
      <div class="post-section-2 gray-border">
        <% if post.flags.empty? %>
          <p><%= post.id %></p>
          <p><%= post.content %></p>
          <p><%= post.created_at %></p>

          <div class="row post-fontawesome">
            <%= link_to likes_path(post_id: post.id), method: :post do %>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <%= post.likes.count %>
            <% end %>
              <%= link_to flags_path(post_id: post.id), method: :post do %>
                <i class="fa fa-flag" aria-hidden="true"></i>
              <% end %>

          </div>
        <% else %>
          <p>This post is temporarily flagged</p>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
