<div class="bootrap">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
    <h1><%= current_user.school.name %></h1>

      <h2>Type Your Shoutout</h2>

      <%= simple_form_for(@post) do |f| %>
        <%= f.error_notification %>

        <%= f.input :content, as: :text %>

        <%= f.input :school_id, as: :hidden, input_html: { value: current_user.school_id } %>

        <%= f.button :submit %>
      <% end %>
  <hr>
      <% @posts.each do |post| %>
      <div>
      <p><%= post.id %></p>
      <p><%= post.content %></p>
      <p><%= post.created_at %></p>
      <button>Like</button>
      <button>Flag</button>
      <hr>
      </div>
      <% end %>
    </div>
  </div>
</div>
