<div class="container">
  <div class="row col-xs-12 col-md-8 col-md-offset-2">
    <div class="school-name text-center">
      <%= cl_image_tag current_user.school.logo.path, width: 730, height: 200, crop: :fit, class: "pic-width" if current_user.school.logo.present? %>
    </div>
  </div>

  <div class="row col-xs-12 col-md-8 col-md-offset-2">

    <!-- Searchform -->
    <div class="hidden-lg visible-xs visible-sm input-group mobile-search">
      <%= form_tag posts_path, class: "search-form", method: :get do %><input class="form-control" id="query" name="query" placeholder="Search content or id" type="text">
      <button class="btn btn-default" type="submit"><i aria-hidden="true" class="fa fa-search"></i></button> <%end %>
    </div>

    <!-- MODAL -->
    <div id="event-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h3>What's on your mind?</h3>
            <%= render 'form', post: @post %>
          </div>
        </div>
      </div>
    </div>

    <div class="post-section-1 purple-border">
      <h3>What's on your mind?</h3>
      <div id="form-poster">
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>

  <div class="row col-xs-12 col-md-8 col-md-offset-2">
    <!-- Nav tabs -->
    <div id="tabs">
      <%= render 'tabs' %>
    </div>
    <div id="new_post"></div>
    <div id="posts">
      <%= render 'posts' %>
    </div>
  </div>

</div>

<script>
  function openMadal() {
    $('#event-modal').modal({
      backdrop: true
    });
  }
</script>
